<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>
<body>
<div class="header">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>
<h3>更新书籍</h3>
<div class="col-lg-4 col-md-offset-2">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">书籍名称</label>
            <input type="text" class="form-control" name="title" value="{{ book.title }}">
        </div>
        <div class="form-group">
            <label for="">价格</label>
            <input type="text" class="form-control" name="price" value="{{ book.price }}">
        </div>

        <div class="form-group">
            <label for="">出版社</label>
            <select class="form-control" name="publish_id" id="">
                {% for publish in publish_list %}
                    {% if publish.pk == book.publish.pk %}
                        <option value="{{ publish.pk }}" selected>{{ publish.name }}</option>
                    {% else %}
                        <option value="{{ publish.pk }}">{{ publish.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {#            {% if not publish_list %}#}
            <span><a href="/publishadd/">添加出版社</a></span>
            {#            {% endif %}#}
        </div>

        <div class="form-group">
            <label for="">出版日期</label>
            <input type="date" class="form-control" name="pub_date" value="{{ book.pub_date|date:'Y-m-d' }}">
        </div>

        <div class="form-group">
            <label for="">作者</label>
            <select class="form-control" name="author_list" id="author" multiple>
                {% for author in author_list %}
{#                    {% for author_id in book.author.all %}#}
                        {% if author in book.author.all %}
                            <option class="form-control" value="{{ author.pk }}" selected>{{ author.name }}</option>
                        {% else %}
                            <option class="form-control" value="{{ author.pk }}">{{ author.name }}</option>
                        {% endif %}
{#                    {% endfor %}#}
                {% endfor %}
            </select>
            {#            {% if not author_list %}#}
            <span><a href="/authoradd/">添加作者</a></span>
            {#            {% endif %}#}
        </div>

        <div class="col-md-2 col-md-offset-10">
            <input class="form-control" type="submit" value="submit">
        </div>
    </form>
</div>
</body>
</html>